In [1]:
from pyspark import SparkConf, SparkContext

import os

In [2]:
conf = SparkConf().setMaster("local").setAppName("transformations_actions")
sc = SparkContext(conf=conf)

22/12/16 15:22:18 WARN Utils: Your hostname, imhaneul-ui-MacBookPro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.18 instead (on interface en0)
22/12/16 15:22:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/16 15:22:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
foods = sc.parallelize(["짜장면", "마라탕", "짬뽕", "떡볶이", "쌀국수", "짬뽕", 
                        "짜장면", "짜장면", "짜장면",  "라면", "우동", "라면"])

In [6]:
foods.collect()

['짜장면', '마라탕', '짬뽕', '떡볶이', '쌀국수', '짬뽕', '짜장면', '짜장면', '짜장면', '라면', '우동', '라면']

In [7]:
foods.countByValue()

defaultdict(int,
            {'짜장면': 4,
             '마라탕': 1,
             '짬뽕': 2,
             '떡볶이': 1,
             '쌀국수': 1,
             '라면': 2,
             '우동': 1})

In [8]:
foods.take(3)

['짜장면', '마라탕', '짬뽕']

In [9]:
foods.first()

'짜장면'

In [10]:
# foreach

In [12]:
foods.foreach(lambda x: print(x))

짜장면
마라탕
짬뽕
떡볶이
쌀국수
짬뽕
짜장면
짜장면
짜장면
라면
우동
라면

In [14]:
sc.parallelize([1, 2, 3]).map(lambda x: x + 2).collect()

[3, 4, 5]

In [15]:
movies = [
    "그린 북",
    "매트릭스",
    "토이 스토리",
    "캐스트 어웨이",
    "포드 V 페라리",
    "보헤미안 랩소디",
    "빽 투 더 퓨처",
    "반지의 제왕",
    "죽은 시인의 사회"
]

In [16]:
moviesRDD = sc.parallelize(movies)

In [17]:
moviesRDD.collect()

['그린 북',
 '매트릭스',
 '토이 스토리',
 '캐스트 어웨이',
 '포드 V 페라리',
 '보헤미안 랩소디',
 '빽 투 더 퓨처',
 '반지의 제왕',
 '죽은 시인의 사회']

In [18]:
flatMovies = moviesRDD.flatMap(lambda x: x.split(" "))

In [19]:
flatMovies.collect()

['그린',
 '북',
 '매트릭스',
 '토이',
 '스토리',
 '캐스트',
 '어웨이',
 '포드',
 'V',
 '페라리',
 '보헤미안',
 '랩소디',
 '빽',
 '투',
 '더',
 '퓨처',
 '반지의',
 '제왕',
 '죽은',
 '시인의',
 '사회']

In [20]:
filteredMovies = flatMovies.filter(lambda x: x !="매트릭스")

In [21]:
filteredMovies.collect()

['그린',
 '북',
 '토이',
 '스토리',
 '캐스트',
 '어웨이',
 '포드',
 'V',
 '페라리',
 '보헤미안',
 '랩소디',
 '빽',
 '투',
 '더',
 '퓨처',
 '반지의',
 '제왕',
 '죽은',
 '시인의',
 '사회']

In [22]:
num1 = sc.parallelize([1, 2, 3, 4])
num2 = sc.parallelize([4, 5, 6, 7, 8, 9, 10])

In [23]:
num1.intersection(num2).collect()

[4]

In [24]:
num2.union(num1).collect()

[4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

In [26]:
num1.subtract(num2).collect()

[2, 1, 3]

In [27]:
numUnion = num1.union(num2)

In [28]:
numUnion.collect()

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10]

In [31]:
numUnion.sample(True, .5).collect()

[1, 2, 5]

In [32]:
foodsGroup = foods.groupBy(lambda x: x[0])

In [34]:
res = foodsGroup.collect()

In [35]:
for (x, v) in res:
    print(x, list(v))

짜 ['짜장면', '짜장면', '짜장면', '짜장면']
마 ['마라탕']
짬 ['짬뽕', '짬뽕']
떡 ['떡볶이']
쌀 ['쌀국수']
라 ['라면', '라면']
우 ['우동']

In [36]:
nums = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [39]:
res = nums.groupBy(lambda x: x%2).collect()

In [40]:
for (x, y) in res:
    print(x, list(y))

1 [1, 3, 5, 7, 9]
0 [2, 4, 6, 8, 10]